{% include "header.html" with title=light.getName backbutton=True %}

<ul class="list">
    <li>
        Bewegingsdetector

        <div id="motion_{{ light.getID }}" class="motion toggle {% if light.isActivatedByMotion %}active{% endif %}">
            <div class="toggle-handle"></div>
        </div>
    </li>
    <li>
        Knipperen bij alarm

        <div id="blink_{{ light.getID }}" class="blink toggle {% if light.blinkOnAlarm %}active{% endif %}">
            <div class="toggle-handle"></div>
        </div>
    </li>
    <li>
        Timeout
    </li>
</ul>

{% include "footer.html" %}
