{% include "header.html" with title="Lichten" %}

<ul class="list">
{% for light in lights %}
<li>
    {{ light.getName }}

    <div id="light_{{ light.getID }}" class="light toggle {% if light.isOn %}active{% endif %}">
        <div class="toggle-handle"></div>
    </div>
</li>
{% endfor %}
<li></li>
    <li>
        Alles aan<a id="all_on" class="button-positive">aan</a>
    </li>
    <li>
        Alles uit<a id="all_off" class="button-negative">uit</a>
    </li>

</ul>

{% include "footer.html" %}
